
h1{
    color:blueviolet;
    margin-left: 30px;
}
p{
    color:black;
    font-size: larger;
    font-style: italic ;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    border:transparent;
}
.header{
color:pink;
background-color: rgb(255,255,255);
display:flex;
justify-content :space-between;
}
.grid{
    display:flex;
    display:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    background-color: tomato;
    justify-content: flex-end;

}
p,h2{
    text-align: center;
}
body{
    background-color: palegreen;
}
.header *{
    border:solid;
}
a:link{
    color:red;
}
a:visited{
    color:black;
}
.menu{
    margin-right: 30px;
}
.menu a{
    margin: 20px;
}
.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;

}
.item:hover p{
    opacity:1;
}
.item:hover img{
   opacity: 0.33;
}